body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

main {
  flex: 1;
  display: block; /* natural flow, no vertical centering */

  /* display: flex;
  align-items: center; */

  padding: 24px 0;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 400px)); /*1fr means fill remaining size*/
  gap: 24px;
  padding: 24px 0;
}

@media (max-width: 640px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .card {
    padding: 22px;
  }

  .tabs {
    flex-direction: column;
  }
}
